<div class="row-md-4 mx-auto">
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 15px;
                font-size:140%; 
                text-align:center; 
                color:black;
            }
        </style>
    </head>
    {{#if localizations}}
        <table style="width:100%" >
            <tr>
                <th>Route name</th>
                <th>Date</th>
                <th>Watch details</th>
            </tr>
            {{#each localizations}}            
                <tr>
                    <td>{{name}}</td>
                    <td>{{date}}</td>
                    <td>
                        <a href="/localization/watch-details/{{_id}}" class="btn btn-primary btn-block">Details</a>
                    </td>
                </tr>
            
            {{/each}}
        </table>
    {{else}}
        <div class="col-md-3 mx-auto">
            <div class="card mx-auto">
                <div class="card-body">
                    <div class="card-body">
                        <h1>Hello {{user.user}}</h1>
                    </div>
                    <p class="lead">No locations yet</p>
                    <a href="/localization" class="btn btn-primary btn-block">Go back</a>
                </div>
            </div>
        </div>
    {{/if}}
</div>